        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Roboto', sans-serif;
        }
        
        header {
            background-image: url('/background.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            color: white;
            height: 150px;
            position: relative;
        }
        
        a {
            color: white;
        }
        
        .overlay {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            height: 100%;
            right: 0;
            bottom: 0;
            padding: 0 !important;
            margin: 0 !important;
            background-color: rgba(10, 10, 10, 0.1);
        }